<html>
  <head>
    <title>
      My Timer
    </title>
  </head>
  <body>

    <% var timer = new Timer(); %>
    <%console.log("Timer started"); %>
    <% timer.start(); %>
    <% timer.addEventListener('secondsUpdated', function (e) { %>
    <p> LE <% timer.getTimeValues().toString(); %> </p>
    <% }); %>
    <div id="countdownExample">
        <div class="values"></div>
    </div>

  </body>
</html>
